/* Sticky Navbar */
nav {
    /* border-bottom: .1px solid var(--thr); */
    color: var(--fonc);
    z-index: 9997;
    position: relative;
    top: 0;
    width: 100%;
}

nav .time-open {
    padding: .1rem 3%;
    background: linear-gradient(170deg, rgba(228, 34, 120, 1) 8%, rgba(237, 123, 171, 1) 120%);
}

nav .time-open p {
    margin: 0;
    position: relative;
    font-size: .8rem;
    /* animation: jalan 10s infinite; */
}

@keyframes jalan {
    0% {
        right: -10%;
    }

    100% {
        right: 103%;
    }
}

nav .time-open label {
    margin: 0 .1rem;
    background-color: var(--sec);
    padding: .1em .5rem;
    border-radius: .2rem;
}

nav .nav-main {
    padding: 1rem 3%;
    /* background-color: var(--bag); */
    background: linear-gradient(180deg, rgba(249, 249, 249, 1) 1%, rgba(249, 249, 249, 0) 100%);
    /* box-shadow: 0px 0px 10px .1px var(--sec); */
    z-index: 9998;
    position: absolute;
    width: 100%;
}

nav .nav-main .nav-logos {
    width: 50%;
}

nav .nav-main .nav-logos a {
    text-decoration: none;
    font-family: "Lobster Two", sans-serif;
    color: var(--pri);
}

/* nav .nav-main .nav-logos a img {
    width: 100%;
} */

nav .nav-main .nav-links a {
    text-decoration: none;
    color: var(--pri);
    font-weight: 600;
    font-size: 1.1rem;
    /* font-family: "Lobster Two", sans-serif; */
}

nav .nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav-main .nav-links ul {
    margin: 0;
    gap: 1rem !important;
    display: flex;
    align-items: center;
}

nav .nav-main .nav-links button {
    display: none;
}

nav .nav-main .nav-links a:hover {
    color: var(--sec);
    transition: .2s ease-in-out;
}

/* nav .nav-main .nav-links a h1 {
    font-family: 'Shrikhand', serif;
} */

nav .nav-main .nav-links ul .dropdowns {
    /* background-color: blue; */
    text-align: left;
    width: 11rem;
    display: flex;
    justify-content: center;
}

nav .nav-main .nav-links ul .dropdowns:hover .dropdowns-content {
    transform: scaleY(100%);
    opacity: 1;
    transition: opacity .5s ease-in-out;
    /* background-color: red; */
}

nav .nav-main .nav-links ul .dropdowns .dropbtn {
    display: flex;
    background: none;
    color: var(--pri);
    font-weight: 600;
    font-size: 1.1rem;
}

nav .nav-main .nav-links ul .dropdowns .dropdowns-content {
    transform: scaleY(0);
    margin: 1.5rem 0 0;
    opacity: 0;
    width: 15%;
    position: absolute;
    padding: 1rem 1.4rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px .3px var(--sec);
    /* border-radius: .3rem; */
    z-index: 9997;
}

nav .nav-main .nav-links ul .dropdowns .dropdowns-content a label {
    padding: .5rem 0;
    width: 100%;
}

nav .nav-main .nav-links ul .logo-mobile {
    display: none;
}