@media screen and (max-width: 768px) {
    .abouts {
        display: block;
    }

    .abouts .main-img {
        padding: 0 30% 2rem;
        width: 100%;
    }

    .abouts .main-img .pub-img {
        width: 100%;
        display: block;
    }

    .misi {
        display: block;
    }

    .misi .misi-main {
        width: 100%;
        padding: 0 0 5rem;
    }

    .misi .misi-main h1 {
        text-align: center;
    }

    .misi .misi-img {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
